* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    background-image: url(img/img1.jpg);
}

#titulo {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 4.5em;
    color: aliceblue;
}

#clave1, #clave2 {
    text-align: center;
    font-family: 'Cinzel', serif;
    cursor: pointer;
    border-bottom-color: brown;
    border-radius: 1em;
}

#btnCifrar, #btnDecifrar {
    display: block;
    font-family: 'Cinzel', serif;
    position: relative;
    left: 48em;
    cursor: pointer;
    border-radius: 0.3em;
}

#txtDesc, #txtCif {
    font-family: 'Cinzel', serif;
    font-size: 2em;
    color: aliceblue;
}

#msje1, #msje2 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    color: aliceblue;
}

#rst1 {
    font-family: 'Cinzel', serif;
    cursor: pointer;
    border-radius: 0.3em;
}

#text, #text1 {
    border-radius: 0.3em;
    font-family: 'Cinzel', serif;
    font-size: 1em;
}