#titulo, #buttom {
    text-align: center;
}

#cuadroTexto {
    text-align: center;

}

body {
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

header {
    background-image: url(papper.jpg);

}